# blog.zaofan.org WordPress stack
WP_HOST_PORT=8090
WP_URL=http://blog.zaofan.org

MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root
WORDPRESS_TABLE_PREFIX=wp_
